html {
    background-color: #ffffff;
    font-family: Verdana, sans-serif;
    scrollbar-gutter: stable;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 48rem;
    padding: 1.2rem 1rem;
    line-height: 1.6;
    color: #333333;
  }
  
  * {
    box-sizing: border-box;
    /* padding-left: 0; */
  }
  h1 {
    font-size: 1.7rem;
  }

  h2{
    font-size: 1.2rem;
    margin-top: 1.5em;
  }
/* nav styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 13px;
  background-color: #1d7484;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  /* background-color: #ff9776; */
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1rem;
  /* font-weight: bold; */
  /* text-transform: uppercase; */
}

/* .nav-links a:hover, */
/* .nav-links a:focus { */
  /* background-color: #ff9776; */
/* } */

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    /* margin-left: 5em; */
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px 15px 0;
  }

  .hamburger {
    display: none;
  }

}

img {
    max-width: 100%;
    height: auto;
}

a {
  color: #1d7484;
  text-decoration : none;
}

a:hover {
  color: #1d7484;
  text-decoration : underline;
}

h1 a:hover {
  text-decoration : none;
}

.tags a {
  margin-right: .25rem;
}
