---
import FormattedDate from "./FormattedDate.astro";
const { pubDate, title, url } = Astro.props;
---

<style>
    li {
        display: flex;
    }
    span {
        color: rgb(59, 59, 59);
        flex: 0 0 130px;
        /* font-weight: lighter; */
        font-family: monospace;
        font-style: normal;
        font-size: 16px;
    }
</style>

<li>
    <span
        >{
            pubDate.toLocaleDateString("fr-FR", {
                year: "numeric",
                month: "long",
                day: "numeric",
            })
        }</span
    ><a href={url}>{title}</a>
</li>
