---
import Social from './Social.astro';
---
<style>
    footer {
      gap: 1rem;
      margin: 2rem 0 2.5rem 0;
      text-align: center;
    }
  </style>

<footer>
    <!-- <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" /> -->
    Par <a href="https://twitter.com/serupan_2">Serupan</a> 
</footer>