---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
---

<header>
    <h1><a href="/">Dragon Odile LA TEAM</a></h1>
    <nav>
        <!-- <Hamburger /> -->
        <!-- <Navigation /> -->
    </nav>
</header>