---
const { pageTitle, pageDescription } = Astro.props;
---

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Bear Blog</title>

    <meta name="title" content="ʕ•ᴥ•ʔ Bear Blog">
    <meta name="description" content="Free, no-nonsense, super-fast blogging">
    
    <meta property="og:site_name" content="ʕ•ᴥ•ʔ Bear Blog">
    <meta property="og:title" content="ʕ•ᴥ•ʔ Bear Blog">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bearblog.dev">
    <meta property="og:description" content="Free, no-nonsense, super-fast blogging">
    <meta property="og:image" content="https://bear-images.sfo2.cdn.digitaloceanspaces.com/herman-1683556668-0.png">
    
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="https://bearblog.dev">
    <meta property="twitter:title" content="ʕ•ᴥ•ʔ Bear Blog">
    <meta property="twitter:description" content="Free, no-nonsense, super-fast blogging">
    <meta property="twitter:image" content="https://bear-images.sfo2.cdn.digitaloceanspaces.com/herman-1683556668-0.png">

</head>