---
const { num_of_likes, title } = Astro.props;

---
 <button 
    id="like-btn" 
    data-title={title}
    class="like-btn"
>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
    <div id="likes-span">{num_of_likes}</div>
</button>

<script>

    const likeBtn = document.querySelector("#like-btn") as HTMLButtonElement;
    const likesSpan = document.querySelector("#likes-span") as HTMLButtonElement;
    const title = likeBtn.dataset.title as string;

    // decide whether or not it’s disabled on page load
    window.addEventListener("DOMContentLoaded", 
    () => {
        const isLiked = localStorage.getItem(title);
        if(isLiked){
            likeBtn.disabled = true;
        }
    });   

    // if clicked, increment
    likeBtn.addEventListener("click", async () => {
        likeBtn.disabled = true;
        //@ts-ignore
        likesSpan.textContent = ++likesSpan.textContent;

        try {
            const req = await fetch("/api/addLike.json", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ 
                    title
                }),
            });

            // save to locale storage for already liked
            localStorage.setItem(title, "true");
        } catch(e){
            console.error(e);
            alert("Yoooooo");
        }
    })

</script>

<style>
    .like-btn {
        background-color: inherit;
        border: none;
        color: inherit;
        margin: 15px 0 0 0;
        cursor: pointer;
        font-family: monospace;
        font-size: 1.2em;
    }

    .like-btn svg {
        color:  #007ea1;        
    }

    .like-btn[disabled] {
        cursor: auto;
    }

    .like-btn[disabled] svg {
        fill: #66deff;
    }

    .like-btn div {
        margin-top: -5px;
    }
</style>