---
import { db, Post, sql } from 'astro:db';
import { eq } from 'astro:db';

const {postId} = Astro.props;

const likes = await db.select({
    postLikes: Post.likes,
}).from(Post)
.where(eq(Post.id, postId));

const { postLikes } = likes[0]


console.log("post id value");
console.log(postId);
console.log("post likes value");
console.log(postLikes);

if (Astro.request.method === 'POST') {
    await db.update(Post)
        .set({likes: sql`likes + 1`})
        .where(eq(Post.id, postId))
};

---

{postLikes}

<form method="POST">
    <input hidden id="likes" name="likes" />
    <button title="Toast this post">TOAST</button>
</form>
