---
const { num_of_likes, title } = Astro.props;

---
 <button 
    id="like-btn" 
    data-title={title}
>
    <span>Likes</span>
    <div id="likes-span">{num_of_likes}</div>
    <span>💙</span>
</button>

<script>

    const likeBtn = document.querySelector("#like-btn") as HTMLButtonElement;
    const likesSpan = document.querySelector("#likes-span") as HTMLButtonElement;
    const title = likeBtn.dataset.title as string;

    // decide whether or not it’s disabled on page load
    window.addEventListener("DOMContentLoaded", 
    () => {
        const isLiked = localStorage.getItem(title);
        if(isLiked){
            likeBtn.disabled = true;
        }
    });   

    // if clicked, increment
    likeBtn.addEventListener("click", async () => {
        likeBtn.disabled = true;
        //@ts-ignore
        likesSpan.textContent = ++likesSpan.textContent;

        try {
            const req = await fetch("/api/addLike.json", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ 
                    title
                }),
            });

            // save to locale storage for already liked
            localStorage.setItem(title, "true");
        } catch(e){
            console.error(e);
            alert("Yoooooo");
        }
    })

</script>