---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <p>Publié le {frontmatter.pubDate.toString().slice(0,10)}, écrit par {frontmatter.author}</p>
    <slot />
</BaseLayout>
